.jumbotron {
    background-image: url(chicago.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif; 
}
.jumbotron h1 {
	color: #B5D8AE;
	font-size: 60px;
}
.jumbotron p {
	color: #F7C7CC;
	font-size: 32px;
}
.jumbotron a {
	color: #619D54;
}