.jumbotron {
    background-image: url(trees.jpg);
    font-family: sans-serif;
	height: 2000px; 
}
.jumbotron h1 {
	color: #fff;
	font-size: 60px;
}
.jumbotron p {
	color: #fff;
	font-size: 32px;
}
.jumbotron a {
	color: #ADD8E6;
}