.jumbotron {
    background-image: url(chicago.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif; 
}
.jumbotron h1 {
	color: #fff;
	font-size: 60px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}
.jumbotron p {
	color: #fff;
	font-size: 32px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.jumbotron a {
	color: #D6C100;
}